#container1{
    background-color: red;
    height: 600px;
    width: 1300px;
    margin: 35px 70px 0px 20px;
}

#container2{
    background-color: grey;
    height: 600px;
    width: 1300px;
    margin: 0px 70px 0px 20px;
}

#container3{
    background-color: yellow;
    height: 300px;
    width: 1300px;
    margin: 0px 70px 0px 20px;
}

#container1-1{
    background-color: orange;
    position: absolute;
    height: 350px;
    width: 900px;
    margin: -100px 0 0 -450px;
    top: 45%;
    left: 50%;
}
.topnav{
    float: center;
    top: 15%;
    left: 20%;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
    
    